.SongWidget {
    background-color: transparent;

    align-items: center;

    padding: 16px;

    color: white;
    text-shadow: -0 -1px 5px #000000, 0 -1px 5px #000000, -0 1px 5px #000000, 0 1px 5px #000000, -1px -0 5px #000000,
        1px -0 5px #000000, -1px 0 5px #000000, 1px 0 5px #000000, -1px -1px 5px #000000, 1px -1px 5px #000000,
        -1px 1px 5px #000000, 1px 1px 5px #000000, -1px -1px 5px #000000, 1px -1px 5px #000000, -1px 1px 5px #000000,
        1px 1px 5px #000000;
}
