.Widget {
    display: flex !important;
    position: absolute !important;

    overflow: hidden;

    background-color: red;

    > .tools {
        position: absolute;
        display: flex;

        background-color: white;
        border-radius: 4px;

        color: black;
        text-shadow: none;

        top: 0;
        left: 0;

        .order {
            font-size: 24px;
            line-height: 24px;
        }
    }
}