.SchemeRecord {
    display: flex;

    padding: 0 8px;
    
    @extend %title2;

    border: 2px solid green;
    margin: 2px;

    &.active {
        background-color: rgba($color: green, $alpha: 0.2);
    }

    > .title {
        margin-right: 16px;
    }

    button {
        margin-left: auto;
    }
}