.WidgetRecord {
    display: flex;

    padding: 0 8px;
    
    @extend %title2;

    border: 2px solid rgba($color: green, $alpha: 0.5);
    margin: 2px;

    cursor: pointer;

    &.active {
        background-color: rgba($color: green, $alpha: 0.2);
        border: 2px solid green;
    }

    > .title {
        margin-right: 16px;
    }

    button:first-of-type {
        margin-left: auto;
    }
}